icons_format = "{icon}"

[theme]
theme = "/home/sndels/.config/sway/slick-sndels.toml"

[icons]
icons = "awesome4"

[[block]]
block = "apt"
interval = 99999
format = " $icon $count updates available "
format_singular = " $icon $count update available "
format_up_to_date = " $icon "
critical_updates_regex = "(linux|linux-lts|linux-zen)"
ignore_phased_updates = true

[[block]]
block = "custom"
interval = 10
hide_when_empty = true
command = "python3 ~/.config/sway/spotify_status.py"

[[block]]
block = "custom"
interval = 10
hide_when_empty = true
command = "cat ~/.config/fiio_id | bluetoothctl info | grep -q 'Connected: yes' && echo \uf294 || echo ''"

[[block]]
block = "sound"

[[block]]
block = "backlight"
invert_icons = true

[[block]]
block = "custom"
command = "nmcli con show --active | grep -q -i vpn && echo '  \uf023 ' || echo '  \uf09c '"
interval = 5

[[block]]
block = "net"
device = "wlp1s0"
format = "  $icon $ssid $signal_strength ^icon_net_down$speed_down.eng(prefix:K) ^icon_net_up$speed_up.eng(prefix:K) "
interval = 5

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "load"
interval = 1
format = "  $icon $1m "

[[block]]
block = "memory"
interval = 1
format = "  $icon $mem_total_used_percents.eng(w:2) "

[[block]]
block = "time"
interval = 5
format = "  $icon $timestamp.datetime(f:'%a %d/%m %R') "

[[block]]
block = "keyboard_layout"
driver = "sway"
format = "  \uf11c $layout "
[block.mappings]
"English (US)" = "US"
"Finnish (N/A)" = "FI"

[[block]]
block = "battery"
interval = 10
format = "  $icon $percentage $time "
if_command = "test -e /sys/class/power_supply/BAT0"

