[user]
	email = santeri.salmijarvi@iki.fi
	name = Santeri Salmijärvi
[core]
	editor = nvim
[push]
	default = simple
[pull]
	rebase = true
[alias]
        st = status
        df = diff
        dfw = diff -w
        dfc = diff --color-words
        dfwc = diff -w --color-words
        br = branch
        ci = commit
        sh = show
        cp = cherry-pick
        rb = rebase
        rbc = rebase --continue
        lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
        sw = switch
        unstage = reset HEAD
        co = checkout
        pu = push
        puu = !git push -u origin `git symbolic-ref --short HEAD`
        puf = push --force-with-lease
        adup = add -up
        adu = add -u
